apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: sscs-mcp-server
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/opdev-tssc-demo/sscs-mcp-server:68088223ff71c9a07205a68654618c2767d61945@sha256:9b722b208ab3d65d82736d89257625ac98bfb1656e7727c5c586a54d31a2f2b2
          name: container-image
