apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  labels: 
    app.kubernetes.io/instance: sscs-mcp-server
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name:  sscs-mcp-server
    app.kubernetes.io/part-of: sscs-mcp-server-gitops  
  name: sscs-mcp-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance:  sscs-mcp-server 
  template:
    metadata: 
      labels:
        app.kubernetes.io/instance:  sscs-mcp-server
    spec:
      containers:
      - image: quay.io/redhat-tssc/task-runner:1.7
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /
            port: 8000 
          initialDelaySeconds: 10
          periodSeconds: 10
        name: container-image
        ports:
        - containerPort: 8000 
        readinessProbe:
          initialDelaySeconds: 10
          periodSeconds: 10
          tcpSocket:
            port: 8000 
        resources:
          limits:
            cpu: "1"
            memory: 512Mi
          requests:
            cpu: 10m
            memory: 50Mi    
        env:
        - name: GIT_REPO
          value: https://github.com/opdev-tssc-demo/sscs-mcp-server-gitops
      imagePullSecrets:
        - name: tssc-image-registry-auth
      serviceAccountName: mcp-tool-sscs-context-svc
